@media (min-width: 576px) and (max-width: 767px) {
  .about-me-filter {
    opacity: .8;
    min-width: 73%;
    min-height: 72.33%;
    position: absolute;
    z-index: -400;
    background: linear-gradient(25deg,#5b7bad 5%, #486693 90%);
    margin: 0px 0 0 -3.5px;
  }

  .about-me-left-col {
    background: transparent;
    padding: 0;
    min-height: 60vh;
    text-align: right;
    margin: 2.5vh 2%;
    z-index: 500;
    border: 15px inset #6582a3;
  }

  .about-me-modal .modal-content{ /* small */
    min-height: 90vh;
  }

  .about-me-modal .modal-header > .modal-title{ /* small */
    font-size: 5vw;
    letter-spacing: 1.25px;
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

  .about-me-modal .modal-content .modal-body { /* small */
    padding: 2.5% 10% 7.5% 10%;
    font-size: 3vw;
    word-wrap: wrap;
    flex-wrap: wrap;
    letter-spacing: 1px;
    text-shadow: -1px 0px 3px gray;
  }

  .about-me-section-nav > ul { /* small */
    background: transparent;
    min-width: 100%;
  }

  .about-me-section-nav > ul > li { /* small */
    background: transparent;
    padding: 0 1%;
    text-align: center;
  }

  .about-me-section-nav > ul > li > button { /* small */
    border: 2.5px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: 1;
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
    font-size: 3.25vw;
    letter-spacing: 2px;
    line-height: 3vw;
    min-width: 100%;
    min-height: 10vh;
    padding: 0 2.5px;
    text-shadow: -2px 0px 3px black;
  }

  .about-me-right-col {
    padding: 10px;
    margin: 0 0 0 2.25vw;
    z-index: 500;
    border-left: 1.5px solid black;
  }

  .about-me-view {
    background: transparent;
    border: 17.5px outset ghostwhite;
    max-width: 75%;
    margin: 0 0 0 12.5%;
  }

  .App {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .App header {
    font-size: 6vw;
    letter-spacing: 15px;
    line-height: 1;
    font-family: "Work Sans";
    font-weight: 200;
    color: ghostwhite;
    text-shadow:  -5px 2px 5px black;
  }

  .App .header-container {
    cursor: pointer;
    font-family: "Londrina Shadow";
    min-height: 12.5vh;
    height: 15vh;
    padding: 5vh 0 0 0;
    margin: 0 0 1% 0;
  }

  .audioContainer {
    opacity: 0;
    position: absolute;
    z-index: -3000;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg,#6486ba 25%, #87CEEB 70%, #425c84);
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    overflow: hidden;
  }

  .body-filter {
    min-height: 100vh;
    position: absolute;
    min-width: 100vw;
    z-index: -2000;
    opacity: 0;
    background: #2ea045;
  }

  .card {
    margin: 2.5% 0;
    z-index: 500;
    position: absolute;
    width: 70%;
    height: 80%;
    background: transparent;
    border: 10px inset #6582a3;
  }


  .card .card-text {
    color: white;
    font-family: "Work Sans";
    font-size: 1.45vw;
    font-weight: 200;
    letter-spacing: .0125vw;
    padding: .5vh 2vw 2vh 2vw;
    text-align: left;
  }

  .card .card-title {
    color: white;
    font-family: "Work Sans";
    font-feature-settings: "kern" off;
    font-kerning: none;
    font-size: 2.75vw;
    font-weight: 300;
    letter-spacing: .2vw;
    line-height: 2.75vw;
    margin: 1.25vh 0 1.75vh 0;
    padding: 0 3.5vw;
  }

  .card-close-button {
    position: absolute;
    top: 5%;
    margin: 0 0 0 27.5%;
    width: 18.5%;
    height: 60px;
    font-size: 2.5vw;
    letter-spacing: .15vw;
    font-weight: 300;
    font-family: "Segoe UI", sans-serif;
    padding: 0;
    z-index: 100;
    border-radius: 2.5%;
    border: 7.5px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: .45;
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
  }

  .card-close-button:hover {
    border: 7.5px inset;
  }

  #contactForm {
    max-width: 50vw;
    margin: 5vh auto;
    border: 35px white;
    border-style: ridge;
  }

  #contactForm .modal-content {
    background: transparent;
  }

  #contactForm .modal-content .contact-form-close-button {
    font-size: 3vw;
    margin: 0px 0 0 92.5%;
    position: absolute;
    text-align: right;
    z-index: 500;
    color: white;
    text-shadow: 0px 0px 10px red;
    opacity: .8;
  }

  #contactForm .modal-content .contact-form-close-button:hover {
    color: red;
    text-shadow: 0px 0px 0px red;
  }

  #contactForm .modal-content .contact-form-header {
    z-index: 400;
  }

  #contactForm .modal-content .contact-form-header .modal-title{
    text-align: right;
    font-size: 2.25vw;
    line-height: 2.25vw;
    margin: 0 auto;
    color: white;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 2.5px black;
  }

  #contactForm .modal-content .modal-body {
    z-index: 300;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group .form-control{
    background: transparent;
    border: 5px inset white;
    color: white;
    font-size: 1.2vw;
    letter-spacing: .9px;
    text-align: center;
    text-shadow: 0px 1px 2.5px black;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group .form-control:focus {
    background: darkgray;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group {
    margin: 0;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group input {
    line-height: 1.2vw;
    min-height: 6vh;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group input::placeholder{
    z-index: 500;
    color: white;
    text-shadow: 0px 1px 2.5px black;

  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group textarea{
    padding: 10px 0;
    min-height: 25vh;
    color: white;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group textarea:focus {
    text-align: left;
    padding: 2px;
  }

  #contactForm .modal-content .modal-body form .contact-form-col .form-group textarea::placeholder {
    color: white;
    text-shadow: 0px 1px 2.5px black;

  }

  #contactFormSubmitButton {
    min-height: 50px;
    min-width: 20vw;
    font-size: 1.8vw;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 1.5vh 0 1.75vh 0;
    text-shadow: 0px 1px 2.5px black;
    border: 12.5px outset #7a8aa8;
    background: transparent;
  }

  .contact-form-filter {
    background: linear-gradient(30deg, #7a8aa8 0%, #6b8ba8 50%, #6582a3 100%);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    opacity: .9;
    z-index: 200;
  }

  .contact-modal-button {
    font-size: 3vw;
    font-weight: 200;
    min-height: 15vh;
    min-width: 80%;
    margin: 3vh 5vw 0 0;
    background: linear-gradient(35deg,#516c96 5%, #4d6d9e 90%);
    color: ghostwhite;
    border: 15px outset white;
    line-height: 3vw;
    text-shadow: -4px 1px 6px black;
    letter-spacing: 2px;
    box-shadow: 0px 0px 10px 3px cadetblue;
  }

  .contact-modal-button:hover {
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
    border: 20px inset white;
    box-shadow: none;

  }

  .contact-view{
    background: transparent;
    min-height: 70vh;
    max-height: 70vh;
  }

  .contact-view .contact-filter {
    position: absolute;
    min-height: 70vh;
    min-width: 84.68%;
    opacity: .8;
    margin: 0 0 0 8.415%;
    background: linear-gradient(25deg,#5b7bad 5%, #486693 90%);
  }

  .contact-view .container {
    border: 17.5px white;
    border-style: outset;
    padding: 0;
    z-index: 100;
    box-shadow: 0px 2.5px 7.5px 2px  #6b8ba8;
  }

  .contact-view .container .content{
    min-height: 50vh;
    margin: 0;
    padding: 0;
    background: transparent;
  }

  .contact-view .container .content .left {
    padding: .25vh 2.5% 2vh 2.5%;
    margin-top: 2.5vh;
    max-height: 40vh;
    border-left: 5px white;
    border-left-style: ridge;
    border-right: 5px white;
    border-right-style: ridge;
  }

  .contact-view .container .content .left p  {
    border-bottom-width: 10px;
    border-bottom-style: double;
    border-color: #909ba8;
    border-image-slice: 1;
    color: white;
    font-weight: 200;
    font-size: 1.95vw;
    letter-spacing: 2px;
    margin: 2.35vh 0 0 0;
    padding: 1% 0 2% 0;
    text-shadow: -2px 1px 4px black;
    word-wrap: break-word;
  }

  .contact-view .container .content .right {
    padding: 2.5vh 0 0 0 ;
    max-height: 45vh;
  }

  .contact-view .container .header {
    background: transparent;
    margin: 3vh auto 0 auto;
    max-width: fit-content;
    text-align: center;
    min-height: 12.5vh;
    min-width: 100%;
  }

  .contact-view .container .header p{
    margin: 1vh auto;
    padding: 1.5% 2.5%;
    min-width: fit-content;
    max-width: fit-content;
    font-family: "Work Sans";
    font-weight: 200;
    line-height: 4vw;
    font-size: 5vw;
    max-height: fit-content;
    letter-spacing: 10px;
    border-bottom: 2.5px white;
    border-bottom-style: ridge;
    color: white;
    text-shadow: -3px 1px 5px black;
  }

  .contact-view .container .blob {
    padding: 1vh 5vw 0 0;
    text-align: center;
    font-weight: 200;
    font-size: 2.5vw;
    line-height: 2.75vw;
    color: white;
    text-shadow: -3px 1px 5px black;
    letter-spacing: 1.25px;
  }

  .default-view-container {
    margin-top: 5vh;
  }

  .grid-button{
    border-radius: 2.5%;
    border: 10px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: .45;
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
    height: 8vh;
    font-size: 2.2vw;
    font-weight: 200;
    font-family: "Work Sans", sans-serif;
    line-height: 2.2vw;
    padding: 0 5px;
    letter-spacing: 1.5px;
    text-shadow: 3px 1px 3px black;
    vertical-align: top;
    z-index: 100;
    /*
      min-width: -------------
      max-width:
      width:       Set in component
      margin:         render
      min-height:
      max-height:
      visibility:_____________
    */
  }

  .grid-button:hover {
    text-shadow: 0px 0px 2.5px ghostwhite;
    border: 5px inset ghostwhite;
  }

  .grid-filter{
    background: linear-gradient(25deg,#5b7bad 5%, #486693 90%);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 0.75;
    z-index: -100;
    margin: -2.5vh -2.5vw;
  }

  .main-row {
    margin: 0;
    display: contents ;
  }

  .main-row-col {
    float: left;
    padding: 0;
    color: black;
    margin-bottom: 2.5vh;
    box-shadow: 2px 2px 7px 1px #98a9bc;
    border-radius: .75%;
  }

  .main-row-col-filter{
    border: 1px solid white;
    border-radius: .75%;
    margin-bottom: 2.5vh;
    height: 100%;
    opacity: .6;
    height: 13.75vh;
    z-index: -1000;
    background: linear-gradient(-120deg, #7a8aa8 0%, #6b8ba8 50%, #4f657f 100%);
    transition: .5s ease-in-out;
  }

  .main-row-col button {
    width: 100%;
    min-width: 100%;
    height: 13.75vh;
    background: transparent;
    border-radius: 0;
    border: 7.5px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: 1;
  }

  .main-row-col button:hover {
    background: transparent;
    border: 7.5px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: 1;
  }

  .main-row-col:hover + .main-row-col-filter {
    opacity: .9;
  }

  .main-row-col button p { /* small */
    font-family: "Work Sans", serif;
    font-size: 5.5vw;
    font-weight: 100;
    margin: 0;
    letter-spacing: 2.5px;
    text-shadow: -2.5px -1px 5px black;
  }

  .mobile-grid-button {
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
    border-radius: 2.5%;
    border: 10px outset;
    border-image: linear-gradient(10deg, #6f7e99 0%, #6185a0 50%, #6582a3 100%);
    border-image-slice: .45;
    box-shadow: -2px 3px 5px 0px black;
    height: 8vh;
    font-size: 3.25vw;
    font-weight: 200;
    font-family: "Work Sans", sans-serif;
    line-height: 3.25vw;
    padding: 0 5px;
    letter-spacing: 1.5px;
    text-shadow: 3px 1px 3px black;
    vertical-align: top;
    z-index: 100;
  }

  .profile-image{
    min-width: 80%;
    max-width: 80%;
    border: 25px inset #6582a3;
    margin: 0 auto;
    z-index: 1000;
  }

  .profile-image-container {
    margin: 0;
    min-height: 35vh ;
    min-width: 100%;
    padding: 25px;
  }

  .project-card {
    margin: 2.5% 0;
    z-index: 500;
    position: absolute;
    width: 70%;
    height: 90%;
    border: 17.5px inset #6582a3;
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
  }

  .project-card .card-body {
    overflow-y: scroll;
  }

  .project-card .card-body .card-text {
    text-align: center;
  }

  .project-description {
    border-top: 1px solid white;
    padding: 2.5vh 0.75% 0 0.75%;
    text-align: center;
    font-size: 2.25vw;
  }

  .projects-grid {
    border: 17.5px outset white;
    padding: 2.5vh 2.5vw;
    height: 70vh;
    margin-top: 5vh;
    min-height: 70vh;
    overflow-y: scroll;
  }

  .projects-row {
    margin: 1.5vh 0;
  }

  .project-date {
    color: black;
    font-size: 2.2vw;
    font-weight: 100;
    letter-spacing: 1px;
    min-height: 5vh;
    margin: 2.5vh 0 0 0;
  }

  .project-modal .modal-body {
    padding: 0 7.5%;
    overflow-y: scroll;
  }

  .project-modal .modal-body .project-text {
    font-size: 2.25vw;
    margin: 2vh 0;
  }

  .project-modal .modal-content{
    min-height: 90vh;
  }

  .project-modal .modal-content .project-modal-close-button {
    padding: 0 0 0 82.5%;
    font-size: 7.5vw;
    line-height: 7.5vw;
    z-index: 300;
  }

  div.project-modal-header.modal-header {
    display: block;
    text-align: center;
    padding: .5vh 7.5vw 2vh 7.5vw;
  }

  div.project-modal-header.modal-header > .modal-title {
    font-size: 3.25vw;
    line-height: 3.75vw;
  }

  .project-tags {
    max-width: fit-content;
    padding: 0 0 .5vh 0;
    margin: 0 auto 1vh auto;
    font-size: 1.75vw;
  }

  .root {
    min-height: 100vh;
  }

  .section-content {
    padding: 0 20px;
  }

  .section-content h4 {
    font-family: "Work Sans";
    padding: 5px 5px 2.5px 15px;
    font-size: 2.25vw;
    font-weight: 300;
    letter-spacing: 2.25px;
    max-width: fit-content;
    color: ghostwhite;
    font-feature-settings: "pcap";
    margin: 5px 5% 0px auto;
    min-height: fit-content;
    max-height: 10vh;
    text-shadow: 3px 2px 7.5px black;
    border-bottom: 3.5px ridge #6582a3;
  }

  .section-content p {
    color: ghostwhite;
    font-weight: 400;
    font-size: 1.75vw;
    letter-spacing: 1.8px;
    font-feature-settings: "kern" off;
    font-kerning: none;
    margin: 3.5vh .5vw 1.5vh .5vw;
    line-height: 1.85vw;
    min-height: 45vh;
    max-height: 45vh;
    padding: 2.55vh 1.5vw 2.55vh 2vw;
    text-align: left;
    text-indent: 30px;
    text-shadow: -3.5px 1.5px 4px black;
    border: 10px ridge ghostwhite;
    overflow-y: scroll;
  }

  .section-option, .section-option button {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .9px;
    font-variant: petite-caps;
    background-color: transparent;
    border-radius: 0;
    min-width: 89%;
    margin: 0 auto;
  }

  .section-option button { /* small */
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
    border: 5px outset #6582a3;
    box-shadow: 2px 2px 3px 0.25px black;
    font-size: 3.75vw;
    letter-spacing: 5px;
    margin: 2vh 1vw;
    min-width: 95%;
    padding: 0;
    transition: .3s linear;
  }

  .section-option button:hover {
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
    border: 7.5px inset ghostwhite;
  }


  .section-options-container { /* small */
    margin: 0;
    min-height: 70vh;
    padding: 4vh 0 0 0;
    min-width: 100%;
  }

  .section-tabs{
    border: none;
    text-align: right;
    display: inline-block;
    margin: 0 0 7.5px 0;
  }

  .section-tabs > .nav-item {
    margin: 0 0 0px 15px;
    background: transparent;
    border: 5px outset #6582a3;
    color: white;
    display: inline-block;
    float: none;
    font-size: 18px;
    font-feature-settings: "pcap", "c2pc";
    font-variant: all-petite-caps;
    font-weight: 300;
    letter-spacing: 1.1px;
    margin-bottom: 0;
    text-shadow: 3.5px 1.5px 4px black;
    zoom: 1;
    transition: .2s ease-in-out;
  }

  .section-tabs > .nav-item:hover {
    border: 5px inset #6582a3;
  }

  .section-tabs > .nav-item:hover > a {
    border: none;
    padding: 0.5rem 1rem;
    margin: 1px;
    cursor: pointer;
  }

  .section-tabs-container {
    display: inline-block;
    min-width: 90%;
    padding: 10px 0 0 0;
    margin: 0px 30px 0 1.25vw;
    border-bottom: 15px #6582a3;
    border-bottom-style: ridge;
  }

  .skill-button-filter {
    position: absolute;
  }

  .skill-card {
    border: 17.5px inset #6582a3;
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
  }

  .skill-card .card-text {
    border-top: 1px solid white;
    padding: 2.5vh 5% 0 5%;
    text-align: center;
  }

  .skill-card .card-title {
    color: white;
    font-family: "Work Sans";
    font-kerning: none;
    font-size: 2.75vw;
    font-weight: 300;
    letter-spacing: .2vw;
    line-height: 2.75vw;
    margin: 1.25vh 0 1.75vh 0;
  }

  .skill-grid {
    border: 17.5px outset white;
    padding: 2.5vh 2.5vw;
    overflow-y: scroll;
  }

  .skill-grid-row {
    padding: 0 1%;
    margin-top: 1vh;
  }

  .skill-grid-row .grid-button{
    box-shadow: -2px 2px 5px 0px black;
    font-size: 3.25vw;
    line-height: 1.5vw;
    min-height: 9vh;
    max-height: fit-content;
    padding: 2.5px 5px;
    letter-spacing: 1.5px;
    background: linear-gradient(35deg,#516c96 5%, #425c84 90%);
    text-shadow: -1.5px .75px 2.5px black;
  }

  .skill-grid-button:hover {
    background: transparent;
    text-shadow: 0px 0px 2.5px ghostwhite;
    border-color: ghostwhite;
    transition: .45s linear;
  }

  .skill-grid-button.btn-secondary:not(:disabled):not(.disabled).active {
    background: transparent;
    border: 10px outset #6582a3;
    letter-spacing: 1px;
    position: absolute;
    margin: 0 0 0 77.5%;
    top: 20px;
    text-shadow: 0px 0px 2.5px ghostwhite;
    transition-delay: .5s;
    transition: 1s ease-in-out;
  }

  .skill-modal {
    min-width: 75vh;
  }

  .skill-modal .skill-modal-header {
    display: block;
    letter-spacing: 1.25px;
    padding: 0 0 2.5vh 0;
    text-align: center;
  }

  .skill-modal .skill-modal-header .modal-title {
    font-size: 3.5vw;
  }

  .skill-modal .modal-body {
    padding: 5vh 4vw;
  }

  .skill-modal .modal-content {
    margin: 10vh 0 0 0;
    min-height: 80vh;
  }

  .skill-modal .modal-content .modal-body { /* small */
    font-size: 2.7vw;
  }

  .skill-modal .skills-modal-close-button {
    padding: 0 0 0 80%;
    font-size: 5vw;
  }

  .skill-grid-button.hidden {
    opacity: 0;
  }

  .skills-modal-close-button {

  }

  .skillset-view-container {
    padding: 0;
    margin: 0;
  }
}
