.header {
  text-align: center;
  color: white;
  align-content: center;
  padding-top: 5vh;
  margin: auto auto auto auto;
  font-family: 'Jura', sans-serif;
  font-size: 4em;
}

h2 {
  /*margin: auto auto auto auto;*/
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 4em;
  color: white;
}
