@media only screen and (max-width: 600px) {

  .skillsContent {
    min-height: 100vh;
    width: 100vw;
    margin: auto;
  }

  .skillsContentContainer {
    margin: 8vh 0 0 0;
  }

  .skillsGrid {
    width: 90vw;
    margin-left: 5vw;
  }

  .skillsGridRow{
    height: 9.5vh;
    margin: 0 0 1.5vh 0;
    text-align: center;
    border: 1px solid white;
  }

  .skillsGridRowItem {
    color: white;
    width: 33%;
    height: 100%;
    border-left: 1px solid white;
    float: left;
  }

  .skillsGridRowItem p {
    padding-top: 15%;
    font-size: 3vh;
    font-family: 'Raleway', sans-serif;
  }

  .skillsGridRowItem:hover {
    cursor: pointer;
    transition: 280ms ease-in;
    /*font-size: 1.65em;*/
  }

}

@media only screen and (max-width: 600px) and (orientation: landscape){
  .skillsGridRowItem p {
    padding-top: 5%;
    font-size: 5vw;
    font-family: 'Raleway', sans-serif;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .skillsContent {
    min-height: 100vh;
    width: 100vw;
    margin: auto;
  }

  .skillsGrid {
    width: 90vw;
    margin-left: 5vw;
  }

  .skillsGridRow{
    height: 10vh;
    margin: 0 0 2vh 0;
    text-align: center;
    border: 1px solid white;
  }

  .skillsGridRowItem {
    color: white;
    width: 33%;
    height: 100%;
    border-left: 1px solid white;
    float: left;
  }

  .skillsGridRowItem p {
    padding-top: 10%;
    font-size: 5vh;
    font-family: 'Raleway', sans-serif;
  }

  .skillsGridRowItem:hover {
    cursor: pointer;
    transition: 280ms ease-in;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px){
  .skillsContent {
    min-height: 100vh;
    width: 100vw;
    margin: auto;
  }

  .skillsGrid {
    width: 90vw;
    margin: 1vh 0 0 5vw;
  }

  .skillsGridRow{
    height: 11vh;
    margin: 0 0 1.5vh 0;
    text-align: center;
    border: 1px solid white;
  }

  .skillsGridRowItem {
    color: white;
    width: 33%;
    height: 100%;
    border-left: 1px solid white;
    float: left;
  }

  .skillsGridRowItem p {
    padding-top: 5%;
    font-size: 6vh;
    font-family: 'Raleway', sans-serif;
  }

  .skillsGridRowItem:hover {
    cursor: pointer;
    transition: 280ms ease-in;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px)  {
  .skillsContent {
    min-height: 100vh;
    width: 100vw;
    margin: auto;
  }

  .skillsGrid {
    width: 90vw;
    margin: 1.5vh 0 0 5vw;
  }

  .skillsGridRow{
    height: 11.5vh;
    margin: .5vh 0 1.5vh 0;
    text-align: center;
    border: 1px solid white;
  }

  .skillsGridRowItem {
    color: white;
    width: 33%;
    height: 100%;
    border-left: 1px solid white;
    float: left;
  }

  .skillsGridRowItem p {
    padding-top: 5%;
    font-size: 6vh;
    font-family: 'Raleway', sans-serif;
  }

  .skillsGridRowItem:hover {
    cursor: pointer;
    transition: 280ms ease-in;
  }
}
